body,
div,
ul,
ol,
dt,
dd,
dl,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
		select,
		textarea,
		p,
		img,
		a,
		span,
		strong,
		* {
			padding: 0;
			margin: 0;
			/*  */
		}

		button {
			outline: none
		}

		body {
			font-size: 12px;
			font-family: "微软雅黑";
			color: #000000;
			background-color: #FFFFFF;
			overflow-x: hidden;

		}

		html,
		body {
			scroll-behavior: smooth
		}

		ul,
		ol,
		li {
			list-style: none;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-size: 12px;
			font-weight: normal;
		}

		img,
		input,
		select,
		textarea {
			vertical-align: middle
		}

		img {
			border: none;
		}

		a {
			color: #333333;
			text-decoration: none;
        }
        .box{
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        .header_box{
            width: 100%;
            height: 526px;
            background: url(../images/beijingtu.png)no-repeat;
            background-size: 100% 100%;
        }
        .boxx {
			width: 100%;
			height: 80px;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 9999;
			color: #fff;

		}

		.boxx:hover {
			background-image: linear-gradient(rgba(3, 5, 252, 0.4), transparent)
        }
        .cp {
			position: absolute;
			left: 496px;
			top: 68px;
			overflow: hidden;
			background: #fff;
			height: 0px;

		}

		.cp p:hover {
			background: #305FC9;
			cursor: pointer;
        }
        .nav li {
			line-height: 80px;
        }
        .nav{
            float: left;
             margin-left: 113px;
             line-height: 100px;
             
         }
         .nav button{
             background: rgba(0, 0, 0, 0);
             border: 1px solid #fff;
             width: 80px;
             height: 30px;
             border-radius: 6px;
             color: #fff;
         }
        
         .header li{
             float: left;
            
             font-size: 16px;
             
         }
         .boxso{
            width: 1100px;
            margin: 0 auto;
            overflow: hidden;
        }
        .boxso_left{
            margin-left: 74px;
            float: left;
            text-align: center;
        }
        .boxso_left span{
           margin-left: 138px;
           margin-top: 65px;
           
           width: 75px;height: 77px;
            display: block;
        }
        
        .boxso_left button{
            border:1px solid #898989;border-radius:5px;color: #000;
        }
        .header {
			width: 1200px;

			height: 86px;
			margin: 0 auto;

			overflow: hidden;

        }
        .nav{
            float: left;
             margin-left: 113px;
             line-height: 100px;
             
         }
         .nav button{
             background: rgba(0, 0, 0, 0);
             border: 1px solid #fff;
             width: 80px;
             height: 30px;
             border-radius: 6px;
             color: #fff;
         }
         .minlogo {
			color: #fff;
			font-size: 24px;
			font-weight: 10;
			float: left;
			line-height: 100px;

        }
        
        .nav li{
            line-height: 80px;
        }
        .header li{
            float: left;
           
            font-size: 16px;
            
        }
        .ho:hover .product{
            display: block;
        }
        .solution{
            width: 100%;
           
            background: #fff;
            overflow: hidden;
            position: absolute;
            left: 0;
            top: 71px;
        }
        .boxso{
            width: 1100px;
            margin: 0 auto;
            overflow: hidden;
        }
        .boxso_left{
            margin-left: 74px;
            float: left;
            text-align: center;
        }
        .boxso_left span{
           margin-left: 138px;
           margin-top: 65px;
           
           width: 75px;height: 77px;
            display: block;
        }
        
        .boxso_left button{
            border:1px solid #898989;border-radius:5px;color: #000;
        }
        .solution{
            display: none;
        }
        .ho_two:hover .solution{
            display: block;
        }
        .AboutUs{
            position: absolute;
            left: 0;
            top: 80px;
            overflow: hidden;
            background: #fff;
            width: 100%;
            color: #000;
            display: none
        }
        .BoxAU{
            float: right;
            margin-right: 450px;;
        }
        .ho_sex:hover .AboutUs{
            display: block;
        }
        .triangle_sex{
            width:0px;
            height:0px;
            border-top: 8px solid transparent;
            border-right: 8px solid  transparent;
            border-bottom: 8px solid #fff;
            border-left: 8px solid transparent;
            position: absolute;
            right: 511px;
            top: 64px;
            display: none
        }
        .ho_sex:hover .triangle_sex{
            display: block;
        }
        .triangle_two{
            width:0px;
            height:0px;
            border-top: 8px solid transparent;
            border-right: 8px solid  transparent;
            border-bottom: 8px solid #fff;
            border-left: 8px solid transparent;
            position: absolute;
            right: 869px;
            top: 55px;
            display: none
        }
        .ho_two:hover .triangle_two{
            display: block;
        }
        .triangle_on{
            width:0px;
            height:0px;
            border-top: 8px solid transparent;
            border-right: 8px solid  transparent;
            border-bottom: 8px solid #fff;
            border-left: 8px solid transparent;
            position: absolute;
            right: 535px;
            top: 63px;
            display: none
        }
        .ho:hover .triangle_on{
            display: block;
        }
        .cp p{
            line-height: 51px !important;
            color:#898989;
            font-weight: bold;
            display: block;
            width: 100%;;
        }
        .cp p:nth-child(3){
            text-indent: 8px;
            cursor: pointer;
        }
        .middle span{
            font-size: 50px;
            color: #fff;
            font-weight: bold;
            text-shadow: black -5px -5px 6px;
            letter-spacing:13px;
            text-indent: 41px;
            display: inline-block;
            margin-top: 200px;
        }
        .middle p:nth-child(2){
            font-size: 18px;
            color: #fff;
            letter-spacing:24px;
            text-indent:53px;
           
        }
        
        .middle {
			width: 1200px;
			margin: 0 auto;
			text-align: center;
			
        }
        .middle p:nth-child(3){
            font-size: 18px;
            color: #fff;
            letter-spacing:15px;
            text-indent:-49px;
            margin-top: 5px;
        }
        .content{
            width: 1200px;
            overflow: hidden;
            margin: 50px auto;;
        }
        .content_top{
            width: 100%;
            overflow: hidden;
        }
        .contentp_header{
            text-align: center;
            font-size: 27px;
            font-weight: bold;
        }
        .contentp_con{
            margin-top: 50px;
            font-size: 16px;
            color: rgb(89, 89, 89);
            
        }
        .contentp_con p{
            margin-top: 20px;
            line-height: 33px;
        }
        .footer {
			width: 100%;
			overflow: hidden;
			background: #393a3c;
			color: #fff;
			margin-top: 100px;
        }
        .box_f{
            width: 1200px;
            margin: 50px auto;
            overflow: hidden;
        }
        .foh_left div{
            float: left;
            margin-right: 65px;
           
        }
        .box_f ul{
            margin-top: 16px;
        }
        .box_f li{
            margin-top: 10px;
            font-size: 12px;
        }
        .box_f p{
            font-size: 18px;
        }
        .box_f div:nth-child(2){
            font-size: 15px;
        }
        .box_f div:nth-child(5){
            font-size: 18px;
        }