
        .content{
            width: 1200px;
            overflow: hidden;
            margin: 50px auto;;
        }
        .content_top{
            width:750px;
            overflow: hidden;
            margin: 80px auto;
        }
        
        .footer {
			width: 100%;
			overflow: hidden;
			background: #393a3c;
			color: #fff;
			margin-top: 100px;
        }
        .box_f{
            width: 1200px;
            margin: 50px auto;
            overflow: hidden;
        }
        .foh_left div{
            float: left;
            margin-right: 65px;
           
        }
        .box_f ul{
            margin-top: 16px;
        }
        .box_f li{
            margin-top: 10px;
            font-size: 12px;
        }
        .box_f p{
            font-size: 18px;
        }
        .box_f div:nth-child(2){
            font-size: 15px;
        }
        .box_f div:nth-child(5){
            font-size: 18px;
        }
        .content_header{
            width: 100%;
            overflow: hidden;
        }
        .content_header li{
            float: left;
            font-size: 18px;
            margin-left: 20px;
        }
        .content_con{
            margin-top: 30px;
            font-size: 14px;
            /* line-height: 40px; */
        }
        .content_con p{
            margin-left: 62px;border-bottom:1px solid #dcdcdc;line-height: 42px;
        }