html, body {
    margin: 0;
    padding: 0;
}

/* .help_header{
    color: #666666;
    font-size: 33px;
    text-align: center;
}
.help_content{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    margin-left: 28px;
    overflow: hidden;
}
.helpc_left{
    width: 600px;
    height: 600px;
    float: left;
}
.helpc_left img{
    width: 100%;
    height: 100%;
}
.helpc_right{
    float: left;
    width: 600px;
    height: 500px;
}
.helpc_right p:nth-child(1){
    color: #979797;
    font-size: 32px;
    font-weight: bold;
    margin-left:47px;
}
.helpc_right p:nth-child(2){
    color: #979797;
    font-size: 20px;
    font-weight: bold;
    margin-left:47px;
    margin-top: 181px;
    width: 450px;
    letter-spacing:5px;
    text-align: center;
}
.headline{
    text-align: center;
    font-size: 33px;
    color: #666;
}
.se_content{
    width: 100%;
    overflow: hidden;
    margin-top: 43px;
}
.sect_left{
    font-size: 34px;
    margin-top: 348px;
    float: left;
}
.sect_right{
    width: 800px;
  
    float: left;
    margin-left: 90px;
}
.sect_right img{
    width: 100%;
    height: 100%;
}
.sec_header{
    text-align: center;
    width:100%;
    color: #666666;
    font-size: 33px;
    font-weight: 9;
}
.sec_left{
    width: 400px;
    height: 400px;
    margin-left: 280px;
    margin-top: 140px;
    float: left;
}
.sec_left img{
    width: 100%;
    height: 100%;
}
.sec_right{
    width: 520px;
    float: left;
    margin-top: 140px;
}
.right_img{
   width: 100px;
    height: 100px;
    float: left;
    margin-top: 200px;;
}
.right_img img{
    width: 100%;
    height: 100%;
}
.right_text{
    float: left;
    width: 200px;
    font-size: 12px;
    margin-top: 102px;
    margin-left: 54px;
    color: #666;
}
.box_f{
    width: 1200px;
    margin: 50px auto;
}
.box_f div{
    float: left;
    margin-right: 150px;
   
}
.box_f ul{
    margin-top: 40px;
}
.box_f li{
    margin-top: 10px;
    font-size: 14px;
}
.box_f p{
    font-size: 18px;
}
.box_f div:nth-child(2){
    font-size: 18px;
}
.box_f div:nth-child(5){
    font-size: 18px;
}
.box_f li:hover{
    text-decoration:underline;
    color: #898989;
    cursor: pointer;
} */
/* .lo img{
    width: 100%;
    height: 100%;

}
.lo{
    width:60px;
    height: 50px;
   margin-left: 42%;
} */
/* .pr_header{
    line-height: 112px;
    background: blue;
}
.pr_header div{
    float: left;
}
.img{
    margin-left: 80px;
   
    padding-bottom: 21px;
}
.pr_header{
    width: 100%;
    line-height: 55px;
    background:#0099cc;
    overflow: hidden;
    color: #fff;
    font-size: 20px;
}
.pr_header div:nth-child(1){
    margin-right: 20px;
}
.dispimg{
    display: none;
}
.pr_header div:nth-child(2):hover .dispimg{
    display: inline-block;
}
.pr_content li{
    line-height: 20px ;
}
.pc_left{
    float: left;
    margin-left: 31px;
    font-size: 14px;
    margin-top: 15px;
    width: 28%;
}
.pc_left li{
    font-size: 17px;
    color: #898989;
    line-height: 38px;
    text-indent: 40px;
}
.pc_middle{
    float: left;
    margin-left: 47px;
    font-size: 14px;
    margin-top: 15px;
    width: 25%;
}
.pc_middle li{
    font-size: 17px;
    color: #898989;
    line-height: 38px;
    
}
.pc_right{
    float: left;
    margin-left: 36px;
    font-size: 14px;
    margin-top: 15px;
    width: 28%;
}
.pc_right li{
    font-size: 17px;
    color: #898989;
    line-height: 38px;
   
}
.pc_left span{
    font-size: 20px;
    font-weight: 10;
} */
/* .pc_middle span{
    font-size: 20px;
    font-weight: 10;
}
.pc_right span{
    font-size: 20px;
    font-weight: 10;
}
.il img{
    height: 20px;  
    margin-left: 5px;
    display: none
}
.pc_right span:nth-child(1):hover .il img{
    display: inline-block;
}
.pc_left span:nth-child(1):hover .il img{
    display: inline-block;
}
.pc_middle span:nth-child(1):hover .il img{
    display: inline-block;
}
.pr_content li:hover{
    color:#0099cc
}
.pc_footer{
    line-height: 50px;
}
.pcf_left{
    float: left;
    width: 49%;
    text-align: center;
    border-right: 1px solid #898989;
    margin-bottom: 20px;
}
.pcf_right{
    float: left;
    width: 50%;
    text-align: center;
}
.product{
width:600px;
display: none;
color: #000;
}
.ho:hover .product{
    display: block;
}
.solution{
    width: 100%;
   
    background: #fff;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 82px;
}
.boxso{
    width: 1100px;
    margin: 0 auto;
    overflow: hidden;
}
.boxso_left{
    margin-left: 74px;
    float: left;
    text-align: center;
}
.boxso_left span{
   margin-left: 137px;
   margin-top: 65px;
   
   width: 75px;height: 77px;
    display: block;
}

.boxso_left button{
    border:1px solid #898989;border-radius:5px;color: #000;
}
.solution{
    display: none;
}
.ho_two:hover .solution{
    display: block;
}
.AboutUs{
    position: absolute;
    left: 0;
    top: 80px;
    overflow: hidden;
    background: #fff;
    width: 100%;
    color: #000;
    display: none
}
.BoxAU{
    float: right;
    margin-right: 308px;;
}
.ho_sex:hover .AboutUs{
    display: block;
}
.triangle_sex{
    width:0px;
    height:0px;
    border-top: 8px solid transparent;
    border-right: 8px solid  transparent;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    position: absolute;
    right: 390px;
    top: 64px;
    display: none
}
.ho_sex:hover .triangle_sex{
    display: block;
}
.triangle_two{
    width:0px;
    height:0px;
    border-top: 8px solid transparent;
    border-right: 8px solid  transparent;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    position: absolute;
    right: 475px;
    top: 66px;
    display: none
}
.ho_two:hover .triangle_two{
    display: block;
}
.triangle_on{
    width:0px;
    height:0px;
    border-top: 8px solid transparent;
    border-right: 8px solid  transparent;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    position: absolute;
    right: 535px;
    top: 63px;
    display: none
}
.ho:hover .triangle_on{
    display: block;
}
#dn{
    position: relative;
    left: 26px;
    top: -14px
}
.cuspend_content li img{
    width: 21px;
    height: 21px; */
/* } */











